.media {
    margin-top: 14vh;
    height: 15vh;
    text-align: center;
}

.media a {
    display: inline-block;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 5em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    width: 2em;
    height: 2em;
    transition: color 350ms ease-in-out;
    opacity: 0.95;
}

.media a:hover {
    color: #00cc00;
    background-color: black;
    border: 3px solid white;
    transition: background-color 500ms ease-in-out;
    opacity: 1;
}

.fa {
    font-size: 2em;
}